In [2]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

username = 'godenmyqjrmzoe'
password = '673e2f643ed4ddbe58c111219261e6872457e45e34e34c617efa029f10429c0f'
host = 'ec2-54-83-137-206.compute-1.amazonaws.com'
db = 'dc995n2umb789o'

engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}/{db}')
engine.table_names()

['school_geo']

In [21]:
school = "Alabama"

In [22]:
pd.read_sql_query(f"select * from school_geo where institution_name ilike '%%{school}%%'", con=engine).head()

,unitid,institution_name,state_cd,lat,lon,region,nearest_mlb,nearest_mlb_dist,nearest_nba,nearest_nba_dist
0,100654,Alabama A & M University,AL,34.783,-86.569,ESC,Atlanta Braves,134.8,Atlanta Hawks,142.8
1,100706,University of Alabama in Huntsville,AL,34.725,-86.640,ESC,Atlanta Braves,136.7,Atlanta Hawks,144.5
2,100724,Alabama State University,AL,32.364,-86.295,ESC,Atlanta Braves,149.3,Atlanta Hawks,146.1
3,100751,The University of Alabama,AL,33.211,-87.546,ESC,Atlanta Braves,183.3,Atlanta Hawks,185.4
4,100760,Central Alabama Community College,AL,32.926,-85.946,ESC,Atlanta Braves,108.2,Atlanta Hawks,106.3